<!DOCTYPE html>
<html>

<head>
  <title>PSN Wishlist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
  <div id="wishlist" class="container">
    <h1>My PSN Wishlist</h1>
    <div v-for="game in wishlistData">
      <div class="card mb-3" v-if="game">
        <div class="card-header">{{game.psnData?.name}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col">nPlus_actualPrice</div>
            <div class="col">{{game.nPlus_actualPrice}}</div>
          </div>
          <div class="row">
            <div class="col">nPlus_strikePrice</div>
            <div class="col">{{game.nPlus_strikePrice}}</div>
          </div>
          <div class="row">
            <div class="col">nPlus_availStart</div>
            <div class="col">{{game.nPlus_availStart}}</div>
          </div>
          <div class="row">
            <div class="col">nPlus_availEnd</div>
            <div class="col">{{game.nPlus_availEnd}}</div>
          </div>
          <div class="row">
            <div class="col">yPlus_actualPrice</div>
            <div class="col">{{game.yPlus_actualPrice}}</div>
          </div>
          <div class="row">
            <div class="col">yPlus_strikePrice</div>
            <div class="col">{{game.yPlus_strikePrice}}</div>
          </div>
          <div class="row">
            <div class="col">yPlus_availStart</div>
            <div class="col">{{game.yPlus_availStart}}</div>
          </div>
          <div class="row">
            <div class="col">yPlus_availEnd</div>
            <div class="col">{{game.yPlus_availEnd}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="scripts/main.js"></script>
</body>

</html>